<div ng-controller="MoviesController">
    <h2>My Movies</h2>

    <table class="table movies">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in movies">
                <td><a href="">{{movie.name}}</a></td>
                <td>{{movie.year}}</td>
                <td>
                    <rating></rating>
                </td>
                <td>
                    <span class="label" ng-repeat="tag in movie.tags">{{tag.name}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>